#menu {
  font-size: 6vh;
  color: white;
  background-color: #e76f51;
  border-radius: 20%;
}

#shopping {
  color: white;
  font-size: 6vh;
  padding-left: 90%;
}

#hopLogo {
  height: 100px;
  width: 122px;
  padding-bottom: 5px;
}

.nav {
  background-color: #264653;
  display: flex;
}

body {
  background-color: #f4a261;
}

p {
  margin: 5px;
  padding: 5px;
  color: black;
}
