#menu {
  font-size: 6vh;
  color: darkred;
}

#hopLogo {
  height: 100px;
  width: 122px;
  padding-bottom: 5px;
}

.nav {
  background-color: #f4a261;
  display: flex;
}

body {
  background-color: #264653;
}

p {
  margin: 5px;
  padding: 5px;
  color: white;
}
