#menu {
  font-size: 6vh;
  color: white;
}

#shopping {
  color: white;
  font-size: 6vh;
}

#hopLogo {
  height: 100px;
  width: 122px;
  padding-bottom: 5px;
}

.nav {
  background-color: #264653;
  display: flex;
}

body {
  background-color: #fff;
}

p {
  margin: 5px;
  padding: 5px;
  color: black;
}
